html {
    scroll-behavior: smooth;
}

:root {
    --background-color: #f7f7f7;
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --background-color: #111;
    }
}

meta[name="theme-color"] {
    attr-content: var(--background-color);
}

body {
    background: var(--background-color);
}

.file-is-loading {
    position: fixed;
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
    font-size: 1rem;
    top: 50%;
    left: calc(50% - 15rem);
    z-index: 10;
    width: 30rem;
    text-align: center;
    text-transform: uppercase;
}

html,
body,
#app {
    height: 100%;
    margin: 0;
    padding: 0;
}

.drop-wrapper {
    height: 100%;
    width: 100%;
    display: block;
}

.editor {
    --max-content-width: 50rem;

    /* just for looking more fancy */
    /*.content-holder {
        transition: opacity 1s;
        opacity: 1;
    }

    &:not(.has-content) {

        .content-holder {
            opacity: 0;
        }
    }*/
}

focus-editor .editor>div.content-editable-holder {
    margin: 0 auto;
}

#app>div,
.app,
.editor {
    min-height: 100vh;
}

.editor>div.content-editable-holder {
    max-width: 45rem;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.editor .content-holder {
    margin-bottom: max(50vh, 6rem);
}
