@mixin css-colors {
    --text-color: #000;
    --dark-grey-color: #666;
    --grey-color: #aaa;
    --background-color: #f7f7f7;
    --background-color-light: #eee;
    --background-color-lighter: #ddd;
}

@mixin css-colors-dark {
    --text-color: #fff;
    --background-color: #222;
    --background-color-light: #333;
    --background-color-lighter: #444;
    --grey-color: #666;
    --dark-grey-color: #aaa;
}

focus-editor {
    --max-content-width: inherit; //50rem;
    --font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
    --letter-spacing: 0px;
    --vertical-border-margin: 1.5rem;
    --transition-duration: 0.3s;
    --text-indent: 0px;
    --min-height: 10rem;
    --primary-color: #007aff;
    --link-color: var(--dark-grey-color);
    @include css-colors;

    color: var(--text-color);

    @media screen and (prefers-color-scheme: dark) {
        @include css-colors-dark;
    }

    @media screen {
        &.light-color-scheme {
            @include css-colors;
        }
        &.dark-color-scheme {
            @include css-colors-dark;
        }
    }

    &.hide-placeholder {
        .editor > div.content-editable-holder:before {
            display: none;
        }
    }

    .editor {
        position: relative;
        margin: 0 auto;
        font-family: var(--font-family);

        > textarea {
            border: 0px;
            background: none;
            font-size: 1rem;
            line-height: 1.8em;
        }

        &.processing > div.content-editable-holder {
            opacity: 0.25;
            pointer-events: none;
        }
        > div.content-editable-holder:before {
            content: attr(data-placeholder);
            display: block;
            position: absolute;
            pointer-events: none;
            opacity: 0;
            transition: opacity 0.2s;
        }

        &:not(.has-content):not(.processing) {
            > div.content-editable-holder[data-placeholder]:before {
                opacity: 0.3;
            }
            [contenteditable] {
                // dont show selection when no content is present
                *::selection {
                    background-color: transparent;
                }
            }
        }

        @media screen {
            background: var(--background-color);
        }

        > div.content-editable-holder {
            margin-left: var(--vertical-border-margin);
            margin-right: var(--vertical-border-margin);
            min-height: var(--min-height);
            line-height: 1.8em;
            letter-spacing: var(--letter-spacing);
            // extra space for margins
            padding-top: 1rem;
            padding-bottom: 1rem;
            &:active,
            &:hover,
            &:focus {
                outline: none;
            }
            // caret-color: #aaa;
        }

        &.indent-headings .content-holder {
            > .heading {
                @media screen and (min-width: 55rem) {
                    text-indent: var(--text-indent);
                    &.h1 {
                        --text-indent: -2.4rem;
                    }
                    &.h2 {
                        --text-indent: -2.7rem;
                    }
                    &.h3 {
                        --text-indent: -2.4rem;
                    }
                }
            }
        }

        .content-holder {
            &.show-section-counter {
                > div {
                    position: relative;
                    counter-increment: section;
                    --paragraph-number-opacity: 0.3;
                    &:after {
                        content: counter(section);
                        position: absolute;
                        right: calc(-8em + var(--text-indent));
                        opacity: var(--paragraph-number-opacity);
                        width: 6em;
                        color: var(--grey-color);
                        transition: opacity 0.2s;
                        top: calc(50% - 0.5em);
                        font-size: 1rem;
                        font-weight: normal;
                    }
                    &.cursor-inside {
                        &:after {
                            opacity: 1;
                        }
                    }
                    &.no-text:not(.cursor-inside) {
                        &:after {
                            opacity: 0;
                        }
                    }
                    &.no-text.cursor-inside {
                        &:after {
                            opacity: var(--paragraph-number-opacity);
                        }
                    }

                }
            }

            > .heading {
                font-weight: bold;
                margin-top: 0.5rem;
                margin-bottom: 0.5rem;
                line-height: 1.5em;

                &.h1 {
                    font-size: 2rem;
                }
                &.h2 {
                    font-size: 1.5rem;
                }
                &.h3 {
                }
                &.h3,
                &.h4,
                &.h5,
                &.h6 {
                    font-size: 1rem;
                    font-weight: bold;
                }
                &.h5,
                &.h6 {
                    text-transform: uppercase;
                }
                &.h6 {
                    font-weight: normal;
                }
            }

            > strong,
            > b {
                &.show-as-normal {
                    font-weight: normal;
                }
            }
            > .hr {
                color: var(--grey-color);
            }
            > .list-item:not(.list-item-with-number-prefix) {
                --text-indent: -1.2em;
                text-indent: var(--text-indent);
                padding-left: 1.2em;
            }
            > .blockquote {
                --text-indent: -1.1em;
                text-indent: var(--text-indent);
                padding-left: 1.1em;
                &::first-letter {
                    color: var(--grey-color);
                }
            }
            > .pre-indent {
                --border-radius: 4px;
                background: var(--background-color-light);
                padding-top: 0.5rem;
                padding-right: 0.5rem;
                padding-bottom: 0.5rem;

                margin-top: 1rem;
                margin-bottom: 1rem;
                --text-indent: -1.3em;
                text-indent: var(--text-indent);
                border-radius: var(--border-radius);

                @media screen and (min-width: 55rem) {
                    padding-left: 1.3em;
                    padding-right: 1.2em;
                    text-indent: var(--text-indent);
                }
                @media screen and (max-width: 55rem) {
                    padding-left: 1.2em;
                    padding-right: 1.2em;
                }
                & + .pre-indent {
                    border-radius: 0;
                }
            }
            // first element
            > :not(.pre-indent) + .pre-indent:has(+ .pre-indent) {
                border-radius: var(--border-radius) var(--border-radius) 0px 0px;
            }
            // last element
            > .pre-indent + .pre-indent:has(+ :not(.pre-indent)) {
                border-radius: 0px 0px var(--border-radius) var(--border-radius);
            }
            .pre-indent + .pre-indent {
                margin-top: -1.5rem;
                padding-top: 0;
            }
        }

        @media screen and (min-width: 55rem) {
            &.focus {
                --link-color: color-mix(in srgb, currentColor 50%, transparent);
                .content-holder > div {
                    color: color-mix(in srgb, var(--text-color) 25%, transparent);
                    transition: color 0.1s;
                    &:active,
                    &:focus,
                    &.cursor-inside,
                    &.having-cursor-inside {
                        // opacity: 1;
                        color: currentColor;
                    }
                }
            }
        }
        .content-holder.smooth-transition > div.white-space {
            min-height: 1rem;
        }
        .content-holder.smooth-transition > div:not(.heading):not(.pre-indent):not(.blockquote) {
            max-width: var(--max-content-width);
        }
        .content-holder > div {
            transition:
                text-indent var(--transition-duration),
                margin-left var(--transition-duration),
                font-size calc(0.3 * var(--transition-duration)),
                background var(--transition-duration),
                padding var(--transition-duration),
                margin var(--transition-duration);
            &.fenced-code-block {
                text-wrap: balance;
                transition:
                    margin-left var(--transition-duration),
                    font-size calc(0.3 * var(--transition-duration)),
                    background var(--transition-duration),
                    padding var(--transition-duration),
                    margin var(--transition-duration);
            }
            &.pre-indent {
                transition:
                    margin-left var(--transition-duration),
                    font-size 0.1s,
                    background var(--transition-duration),
                    margin var(--transition-duration);
            }
        }
        a.link,
        a.page-reference {
            text-decoration: none;
            color: var(--link-color);
            transition:
                color 0.1s,
                border 0.1s;
            border-bottom: 1.5px solid rgba(0, 0, 0, 0);
        }
        a.link.image {
            position: relative;
            cursor: pointer;
            img {
                position: absolute;
                right: -10.5rem;
                z-index: 999;
                width: 10rem;
                height: 10rem;
                object-fit: cover;
                border: 0;
                box-shadow:
                    rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
                    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
                opacity: 1;
                transition: opacity 0.5s;
                &.hidden {
                    opacity: 0;
                }
            }
        }
        a.page-reference {
            font-weight: bold;
            --link-color: var(--text-color);
        }
        @media (hover: hover) {
            &.meta-or-alt-key-pressed a.link, a.link[href^="#/"] {
                --link-color: var(--primary-color);

                &:hover {
                    border-bottom: 1.5px solid currentColor;
                    cursor: pointer;
                    // color: var(--text-color);
                }
            }
        }
        @media (hover: none) {
            a.link {
                border-bottom: 1.5px solid currentColor;
            }
        }
        .table-delimiter {
            color: var(--grey-color);
        }
        code {
            font-size: 1rem;
        }
        div > code {
            padding: 0.2em 0.4em;
            margin: 0;
            margin-right: 0.25rem;
            white-space: break-spaces;
            background-color: var(--background-color-light);
            border-radius: 4px;
        }

        // first fenced code block
        *:not(.fenced-code-block) + .fenced-code-block,
        .fenced-code-block:first-child {
            padding-top: 1rem;
            color: var(--grey-color);
        }

        // prevents accidental nested elements styling
        .fenced-code-block,
        .pre-indent,
        .blockquote {
            // happens only on accident (paste html etc)
            & > .fenced-code-block {
                padding: 0;
                --text-indent: 0;
            }
        }

        .fenced-code-block {
            background: var(--background-color-light);
            padding-left: 1rem;
            padding-right: 1rem;

            // last fenced code block
            &:not(:has(+ .fenced-code-block)) {
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
                color: var(--grey-color);
            }
        }
        &.max-content-length-reached {
            animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
        }
    }
    @keyframes shake {
        10%,
        90% {
            transform: translate3d(-1px, 0, 0);
        }

        20%,
        80% {
            transform: translate3d(2px, 0, 0);
        }

        30%,
        50%,
        70% {
            transform: translate3d(-4px, 0, 0);
        }

        40%,
        60% {
            transform: translate3d(4px, 0, 0);
        }
    }
}
